* {
    box-sizing: border-box;
}
body {
    margin: 0;
}

.main-container {
    position: relative;
}

.game-over-container {
    position: absolute;
    top: 50%;
     left: 50%;
     margin-left: -200px;
     margin-top: -100px;
    height: 200px;
    width: 400px;
    background: rgba(58, 56, 56, 0.575);
    color: white;
    z-index: 100;
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    gap: 1rem;

}

.game-over-container > h1 {
    margin: 0 ;
}
.restart-btn {
    width: 100px;
    height: 2rem;
    background-color: transparent;
    border: rgb(255, 255, 255) 1px solid;
    margin: 0;
    padding: 0;
    border-radius: 3px;
    appearance: none; 
    color: white;
    
}

.score-board {
    position: absolute;
    z-index: 100;
    color: orange;
    right: 30px;
    top: 0;

    font-size: 1.5rem;
}

.score-board  > p{
    margin: 0;

}

.timer {
    color: orange;
    z-index: 100;
    position: absolute;
    top: 0; left: 40px;

    font-size: 2rem;
}